@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
}

.main-btn {
  @apply rounded-3xl block text-sm px-3 py-2 bg-customBlack text-white uppercase  font-semibold text-center w-[180px] mx-auto hover:-rotate-3 hover:shadow-md transition-all duration-200;
}

/* nav bar  */
/* Hamburger Menu */
.hamburger {
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  border-radius: 5px;
  height: 3px;
  background: #282828;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
  @apply bg-main;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
  @apply bg-main;
}

header .nav {
  @apply items-center gap-5 hidden lg:flex;
}
header nav ul {
  @apply uppercase font-semibold text-[13px] xl:text-base flex gap-4;
}
header nav ul a {
  @apply hover:text-main transition-all duration-300;
}

/* mobile nav bar  */

header .mobile-nav {
  @apply lg:hidden absolute left-2 top-20 right-2 overflow-hidden h-0 transition-all duration-300 bg-customWhite backdrop-blur-sm  rounded-2xl z-50;
}

header .mobile-nav.opened {
  @apply h-[290px];
}

header .mobile-nav ul {
  @apply flex-col justify-center gap-1 py-4;
}
header .mobile-nav ul a {
  @apply block text-center py-2;
}
/* how to order section  */
.HTO-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 80px;
}
@media (max-width: 1200px) {
  .HTO-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 70px;
  }
}
/* section divider  */
.wrapper {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.wrapper div {
  animation: stripMove 30s linear infinite;
}
.wrapper.second div {
  animation: stripMove 30s linear infinite reverse;
}
/* terms and conditions */
#terms-and-conditions .alice-carousel__wrapper {
  padding: 50px 0;
}
.alice-carousel__dots-item {
  @apply transition-all duration-300;
}
.alice-carousel__dots-item.__active {
  background-color: #00dbd1 !important;
  width: 30px;
  border-radius: 5px;
}

/* BAC section  */
.BACCard {
  @apply px-6 sm:px-8 py-10 sm:py-20 uppercase bg-main rounded-3xl relative sm:min-w-[350px] max-w-[370px] m-8;
}
.BACCard .moving {
  animation: Moving 10s linear infinite reverse;
}
.BACCard .movingRTL {
  animation: MovingRTL 10s linear infinite reverse;
}

.vertical {
  transform-origin: left top;
}
.vertical-sec {
  transform-origin: right top;
}

.features img {
  @apply translate-y-10  absolute opacity-0 z-0 transition-all duration-500;
}

.features .active-image {
  @apply translate-y-0 opacity-100 z-[1];
}
.features-item {
  @apply py-1 px-4 uppercase hover:text-main hover:px-6 text-[26px] duration-300 transition-all flex gap-5 items-center;
}

@keyframes stripMove {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes Moving {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes MovingRTL {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
